metodo 3/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50914/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50914/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50914/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CrearAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearAlumnos" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_convertirDolares_InputMessage">
    <wsdl:part name="parameters" element="tns:convertirDolares" />
  </wsdl:message>
  <wsdl:message name="IService1_convertirDolares_OutputMessage">
    <wsdl:part name="parameters" element="tns:convertirDolaresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosAlumnos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosAlumnos" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosAlumnos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosAlumnosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosLibros_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosLibros" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDatosLibros_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatosLibrosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearLibrosos_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearLibrosos" />
  </wsdl:message>
  <wsdl:message name="IService1_CrearLibrosos_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearLibrososResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIdProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetIdProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CrearAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearAlumnos" message="tns:IService1_CrearAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearAlumnosResponse" message="tns:IService1_CrearAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="convertirDolares">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/convertirDolares" message="tns:IService1_convertirDolares_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/convertirDolaresResponse" message="tns:IService1_convertirDolares_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosAlumnos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDatosAlumnos" message="tns:IService1_GetDatosAlumnos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDatosAlumnosResponse" message="tns:IService1_GetDatosAlumnos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatosLibros">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDatosLibros" message="tns:IService1_GetDatosLibros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDatosLibrosResponse" message="tns:IService1_GetDatosLibros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearLibrosos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CrearLibrosos" message="tns:IService1_CrearLibrosos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CrearLibrososResponse" message="tns:IService1_CrearLibrosos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetIdProducto" message="tns:IService1_GetIdProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetIdProductoResponse" message="tns:IService1_GetIdProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetProducto" message="tns:IService1_GetProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetProductoResponse" message="tns:IService1_GetProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearAlumnos">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="convertirDolares">
      <soap:operation soapAction="http://tempuri.org/IService1/convertirDolares" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosAlumnos">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDatosAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatosLibros">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDatosLibros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearLibrosos">
      <soap:operation soapAction="http://tempuri.org/IService1/CrearLibrosos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetIdProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50914/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>