metodo 3/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50914/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService3" />
  <xs:element name="CrearAlumnos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="CrearAlumnosResult" nillable="true" type="q1:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertirDolares">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesos" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="convertirDolaresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="convertirDolaresResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosAlumnos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="alumnos" nillable="true" type="q2:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosAlumnosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="GetDatosAlumnosResult" nillable="true" type="q3:Alumnos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosLibros">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="libros" nillable="true" type="q4:Libros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDatosLibrosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="GetDatosLibrosResult" nillable="true" type="q5:Libros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLibrosos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearLibrososResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="CrearLibrososResult" nillable="true" type="q6:Libros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdProductoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="producto" nillable="true" type="q7:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="GetProductoResult" nillable="true" type="q8:Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="composite" nillable="true" type="q9:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService3" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q10:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>